<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.test.dao.TestDao">
    <insert id="insert" parameterType="com.example.test.vo.ResVo">
        insert into test_result (avg,sum,date)
        VALUES (#{avg}, #{sum},now())
    </insert>
    <select id="get" resultType="com.example.test.vo.TestVO">
        select * from test_trade
    </select>
</mapper>